<!DOCTYPE html>
<html>
    <head>
        <title>{{.title}}</title>
    </head>
    <body>
        <h1> Blog </h1>
        {{range $index,$element := .posts}}
                <h2><a href="/posts/{{ $element.Id }}">{{ $element.Title }}</a></h2>
                <p>{{ $element.Body }}</p>
        {{end}}
        <div>
            <a href="/create">create post</a>
        </div>
    </body>
</html>
