<!DOCTYPE html>
<html>
    <head>
        <title>{{.title}}</title>
    </head>
    <body>
        <h1> Blog </h1>
        {{range .posts}}
                <h2><a href="/posts/{{ .Id }}">{{ .Title }}</a></h2>
                <p>{{ .Body }}</p>
        {{end}}
        <div>
            <a href="/create">create post</a>
        </div>
    </body>
</html>
