<!DOCTYPE html>
<html>
    <head>
        <title>{{.title}}</title>
    </head>
    <body>
        <h1> Blog </h1>
            <h2>{{ .post.Title }}</h2>
            <p>{{ .post.Body }}</p>
            <p><a href="/edit/{{.post.Id}}">edit</a></p>
            <p><a href="/">back</a></p>
    </body>
</html>
